/* body{
    background-image: url("/assets/background.png");
    background-repeat: no-repeat;
    background-size:cover;
}



/* 
.form-container{
    width: 20rem;
    padding: 1rem;
    background-image: linear-gradient(to bottom ,#FFFFFF , #00D2EA);
} */ 